html {
    height: 100%;
    width: 100%;    
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: -webkit-image-set('https://thumbs.dreamstime.com/b/bereiten-sie-zerknitterte-beschaffenheit-des-braunen-papiers-alte-papieroberfl%C3%A4che-f%C3%BCr-hintergrund-auf-108204796.jpg');
    background-size: cover;
    min-height: 100vh;
    padding: 2rem 1rem;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.preview {
    height: 90vh;
    width: 90vw;
}

#svg-maps {
    height: 100%;
    width: 100%;
}